<!DOCTYPE html>

<html lang="fr">
<head>
  <meta charset="utf-8">

  <title>{{ page.title }} | {{ site.title }}</title>

  <meta name="author" content="{{ site.author }}">
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">

  <link rel="alternate" type="application/rss+xml" title="{{ site.title }} - RSS" href="{{ site.baseurl }}/feed.xml">
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
</head>
<body>
